.productsell_container {
  width: 70%;
  position: relative;
  align-items: center;
 
}

.productsell_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: 100%;
}

.productsell_item {
  margin-bottom: 10px;
  width: 90%;
  padding: 30px;
  height: 90%;
  background-color: rgb(179, 179, 167);
  border-radius: 15px;
}
.productsell_item_img {
  height: 350px;
  max-width: 700px;
}

.productsell_text {
  width: 70%;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 55px;
}

.productsell_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  height: 90%;
}

.productsell_item {
  margin-bottom: 10px;
  width: 90%;
  padding: 30px;
  height: 490px;
  background-color: rgb(179, 179, 167);
  border-radius: 15px;
}
.productsell_item_img {
  height: 350px;
  max-width: 700px;
}

.productsell_text {
  width: 70%;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 55px;
}

.productsell_item_button {
  background-color: rgb(26, 46, 26);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}
.productsell_items_button:hover {
  background-color: rgb(49, 83, 49);
  transform: translateY(-2px);
}

.productsell_items_button:active {
  transform: translateY(0);
}

.productsell_item_img {
  width: 100%;
  height: 300px;
}

.button_pag {
  border: 0;
  margin-top: 20px ;
  margin-right: 15px;
  padding: 12px 15px;
  background-color: rgb(26, 25, 25);
  color: aliceblue;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}
.button_pag:hover {
  opacity: 0.7;
}
.button_pag:disabled {
  background-color: #5e5e5e; 
  cursor: not-allowed; }

.pagination {
  margin-top: 10px;
  display: flex;
  
}


.spinner {
  position: absolute;
  top: 300px;
  left: 600px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

.bntDraw{
  color: white;
 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.productsell_item_info {
  height: 92%;
}




@media (max-width: 1700px) {
  .productsell_item {
    margin-bottom: 5px;
    width: 85%;
    padding: 25px;
    height: 450px;
  }
  .productsell_item_img {
    height: 250px;
    max-width: 700px;
  }
  .productsell_item_info {
    font-size: smaller;
    height: 90%;
  }
  .productsell_item_button {
    padding: 10px 15px;
    font-size: 14px;
  }
  .productsell_items {
    gap: 10px;
    height: 90%;
  }
  .productsell_text {
    font-size: small;
  }
  .button_pag {
    padding: 10px 15px;
    font-size: 14px;
    width: 100px;
    margin-right: 10px;
  }
  
}


@media (max-width: 1300px) {

  .productsell_item {
    margin-bottom: 5px;
    width: 85%;
    padding: 20px;
    height: 420px;
  }
  .productsell_item_img {
    height: 200px;
    max-width: 700px;
  }
  .productsell_item_button {
    background-color: rgb(26, 46, 26);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;

    width: 100%;
  }
  .productsell_item_info {
    height: 90%;
  }
  .productsell_item {
    height: 380px;
  }
  .pagination {
    margin-top: 0px;}
    .button_pag {
      padding: 9px 13px;
      font-size: 13px;
      width: 90px;
      margin-right: 5px;
    }}

    @media (max-width: 970px) {

      .productsell_container {
        width: 97%;
        margin: auto;
      }
        .productsell_item {
          margin: auto;
          width: 90%;
        }
        .pagination {
          display: flex;
          margin-right: 20px;
          margin-top: 0px;}
          .button_pag {
            padding: 9px 13px;
            font-size: 13px;
            width: 80px;
            margin-right: 5px;
            margin-top: 5px;
          }
          .productsell_text {
            font-size: small;
            margin-top: 20px;
           
          }
          
    }

      @media (max-width:770px) {
        .productsell_items {
          grid-template-columns: repeat(1, 1fr);
          gap: 15px;
          height: 100%;
        }
        .button_pag {
          padding: 6px 10px;
          font-size: 12px;
          width: 65px;
          margin-right: 5px;
          margin-top: 5px;
        }
        .productsell_container {
          width: 75%;
      }}

      @media (max-width:550px) {
        .productsell_container {
          width: 90%;
      }
      
      }