.info_container {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15%;
  z-index: 2;
  margin: auto;
  .info_items {
    width: 70%;
    color: aliceblue;
    align-items: center;
    padding-top: 150px;
    .info_items_title {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 70px;
    }
    .info_items_text {
      font-size: 23px;
      font-weight: 300;
      margin-bottom: 80px;
    }
    .info_link {
      display: flex;
       .info_link_button{
        width: 160px;
        height: 40px;
        border: none;
        border-radius: 15px;
        font-weight: 600;
        font-size: 13px;
        background-color: rgb(255, 255, 255);
        color: rgb(32, 32, 32);
        cursor: pointer;
      } 
      .info_link_button:hover{
        background-color: rgb(190, 190, 190);
      }
    }
  }
}


.background-container {
  height: 670px;
  width: 100%;
  position: relative;
  margin-bottom: 250px;
}

.section_info {
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  
}

.background-image {
  width: 100%;
  height: 100%; 
  z-index: 0; 
  ;}
  

 
.section_info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1; 
}

