

.advantages_container {
  width: 100%;
  height: 1300px;
  clip-path: polygon(0% 8%, 120% 0%, 110% 1000%, -20% 100%);
  background-color: #085539;
  position: relative;
  .advantages_title {
    color: rgb(241, 241, 241);
    position: absolute;
    top: 200px;
    left: 43%;
    font-size: 30px;
  }
  .advantages_items {
    position: absolute;
    top: 350px;
    left: 20%;
    display: grid;
    max-width: 60%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

   

    .advantages_items_title {
      font-size: 25px;
      font-weight: 500;
      color: white;
      margin-bottom: 50px;
      padding-left: 10px;
    }
    .advantages_items_text {
      font-size: 20px;
      font-weight: 400;
      color: white;
      padding-left: 10px;
    }
  }
}

.advantage-item {
  opacity: 0; /* Начальная прозрачность */
  transform: translateY(20px); /* Начальное смещение */
  transition: opacity 0.7s cubic-bezier(0.5, 0, 0.5, 1),
  transform 0.7s cubic-bezier(0.5, 0, 0.5, 1); /* Плавный переход */
 
}

.advantage-item.visible {
  opacity: 1; /* Конечная прозрачность */
  transform: translateY(0); /* Конечное смещение */
  height: 250px;
  width: 100%;
  align-items: center;
  

}







