.flors_container{
    margin-bottom: 60px;
}
.label_flors{
    margin-right: 10px;
}

.select_floors {
    width: 15%;
    height: 30px; /* Увеличиваем высоту для лучшего отображения */
    border: 1px solid #ccc; /* Добавляем границу */
    outline: none;
    background-color: rgb(179, 179, 167);
    border-radius: 20px; /* Закругляем углы */
    padding: 5px; /* Добавляем отступы для текста */
   /* Цвет фона */
    transition: border-color 0.3s; /* Плавный переход для границы */
}


@media (max-width: 1700px) {
    .label_flors{
        font-size: 14px;
    }
}


@media (max-width: 1300px) {
    .label_flors{
        font-size: 13px;
    }
    .select_floors {
        width: 25%;
        height: 25px
    }
}