.radio-label {
   display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 15px;
    cursor: pointer;
    
  }
  
  .radio-input {
    display: none; 
  }
  
  .custom-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    margin-left: 25px;
    position: relative;
    border: 1px solid  rgb(179, 179, 167);
    
   
  }
  
  .radio-input:checked + .custom-radio {
    background-color: rgb(26, 46, 26);
    border-color: rgb(29, 28, 28);
  }
  
  .radio-input:checked + .custom-radio::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: rgb(26, 46, 26);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: opacity 0.7s, background-color 0.7s; 
    opacity: 0; 
  }
  
  .radio-input:checked + .custom-radio::after {
    opacity: 1; 
  }
  

  .radio_border{
    border-bottom: 1px solid rgb(179, 179, 167);
    margin-bottom: 10px;
    width: 80%;
  }

  .radio_border:last-child{
    margin-bottom: 0;
  }

  .radio-text{
    margin-bottom: 40px;
    text-align: center;
    width: 80%;
  }



  @media (max-width: 1700px) {
    .radio-text{
      font-size: 15px;
    }
    .radio-label {
      font-size: 14px;
    }

  }


  @media (max-width: 1300px) {
    .radio-text{
      font-size: 14px;
    }
    .radio-label {
      font-size: 13px;
    }
    .custom-radio {
      width: 15px;
    height: 15px;
    }
    .radio-input:checked + .custom-radio::after {
      width: 15px;
      height: 15px;
    }
  }