
.head_container{
    background-color: black;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    top: 0; /* Specify where from the top */
    left: 0; /* Specify where from the left */
    z-index: 1000;
    .head_items {
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        align-items: center;
          .head_item_img {
            .item_img {
              max-width: 50px;
            }
          }
        }
        .head_item_link{
            .link_Main{
                font-size: 23px; 
                text-decoration: none;
                color: white ;
                font-weight: 400;
            }

        } 
}
    
      

