.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dedede;
    height: 1100px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 200px;
    width: 100%;

  }
  
  .image {
    width: 65%;
    height: 650px;
    margin: auto;
    border-radius: 15px;
  }
 
  
  .nav-button {
    border: none;
    background-color: #dedede;
    cursor: pointer;
    width: 50px;
    height: 20px;
    align-items: center;
    display: flex;
 }
 .nav-button img {
    width: 70px;
    height: 30px;
    
 }
  
  .thumbnails {
    display: flex;
    align-items: center;
  }
  
  .thumbnail {
    width: 150px;
    opacity: 0.7;
    height: 100px;
    cursor: pointer;
    margin: 0 5px;
  }