.conditions_section{
    width: 100%;
    height: 1400px;
    background-color: #A6B6A9;
    .conditions_container{
        width: 80%;
        margin: 0 auto;
        padding-top: 150px;
        height: 100%;
        
        .conditions_title{
        margin-bottom: 100px;
        text-align: center;
        color: #494338;
        font-size: 33px;
        }
        .conditions_items{
            height: 800px;
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 70px;
            width: 100%;          
            .conditions_item{
                padding: 60px;
                border-radius: 10px ;
                background-color: #e9e6e6;
                .conditions_item_title{
                    margin-bottom: 50px;
                    font-size: 22px;
                    font-weight: 600;
                    color: #494338;
          }
          .conditions_item_text{
            font-weight: 400;
            font-size: 18px;
            color: rgb(37, 37, 37);
          }
            }
            
        }
    }
}
