.conditions_section {
  width: 100%;
  height: 1400px;
  background-color: #A6B6A9;
}
 .conditions_container {
  width: 80%;
  margin: 0 auto;
  padding-top: 150px;
  height: 100%;
}
.conditions_title {
  margin-bottom: 100px;
  text-align: center;
  color: #494338;
  font-size: 33px;
}
 .conditions_items {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  width: 100%;
}
 .conditions_item {
  padding: 60px;
  border-radius: 10px;
  background-color: #e9e6e6;
}
 .conditions_item_title {
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: 600;
  color: #494338;
}
.conditions_item_text {
  font-weight: 400;
  font-size: 18px;
  color: rgb(37, 37, 37);
}


@media (max-width: 1350px) {
  .conditions_title {
    margin-bottom: 100px;
    font-size: 27px;
  }
  .conditions_container {
    width: 90%;
    height: 1200px;
    padding-top: 70px;
  
  }
  .conditions_section {
    width: 100%;
    height: 1150px;
    background-color: #A6B6A9;
  }
  .conditions_items {
    gap: 30px;
   
  }
  .conditions_item {
    padding: 20px;
    border-radius: 10px;
    background-color: #e9e6e6;
  }
}



@media (max-width: 1000px) {
  .conditions_title {
    margin-bottom: 100px;
    font-size: 22px;
  }
  .conditions_container {
    width: 95%;
    padding-top: 100px;
  }

  .conditions_section {
    width: 100%;
    height: 1150px;
    background-color: #A6B6A9;
  }
  .conditions_items {
    gap: 20px;
   
  }
  .conditions_item {
    padding: 20px;
    border-radius: 10px;
    background-color: #e9e6e6;
  }

  .conditions_item_title {
    margin-bottom: 35px;
    text-align: center;
    color: #494338;
    font-size: 20px;
  }

  .conditions_item_text {
    font-size: 17px;

  }
}


@media (max-width: 750px) {
  .conditions_title {
    margin-bottom: 60px;
    font-size: 22px;
  }
  .conditions_container {
    padding-top: 60px;
    
  }
  .conditions_section {
    height: 1000px;  
  }
  
  .conditions_item_title {
    font-size: 18px;
  }

  .conditions_item_text {
    font-size: 15px;
}

  .conditions_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
  }
  .conditions_item {
    padding: 10px;
   
  }
}

@media (max-width: 516px) {

  
  
  .conditions_title {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .conditions_container {
    padding-top: 20px;
    
  }
  .conditions_section {
    height: 825px;  
  }
  
  .conditions_item_title {
    font-size: 15px;
    margin: 0px;
  }

  .conditions_item_text {
    font-size: 13px;
}

  .conditions_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 100%; 
  }
  .conditions_item {
    padding: 10px;
   
  }
}